[Bb]in/
[Oo]bj/
out/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
.DS_Store
dist/
node_modules/
appsettings.Development.json
appsettings.Local.json
*.db
*.db-shm
*.db-wal
.env
.env.*
!/appsettings.json